.page
  height: 100% // 高度100%
  width: 100% // 宽度100%
  position: relative // 相对布局定位

  .wrapper
      padding: 6px  // 内边距
      background: #1d1d1f
      color: #f4f4f6
      text-align: center


  .topButtonBox
    height: 74px
    display: flex //
    align-items: stretch
    justify-content: center
    background: #000000
    user-select: none
    // 背景色

    .icon
      transform: scale(0.8) translateY(2px)
      margin: 0 20px
      fill: white

    .button

      line-height: 74px
      text-align: center
      background: #000000
      color: #dddddd
      padding: 0 24px
      transition: all 0.2s ease-in-out

      &:hover
        background: #222222
        color: white




  .box

    background: #DCDCDC
    padding: 20px
    position: absolute // 绝对布局定位
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) //平移 -50% -50%
    min-width: 100px // 最小宽度

    .title
      font-size: 48px // 字体大小
      font-weight: bold // 粗体
      margin-bottom: 10px // 下边距

    .text
      margin-bottom: 6px
