.page


  height: 100%          // 页面高度占满整个视口
  width: 100%           // 页面宽度占满整个视口
  position: relative    // 相对定位，方便子元素使用绝对定位

  .section1
    flex-direction: column
    background: #1d1d1f
    padding: 100px 0
    color: white

    .sectionHeader
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-end
      padding: 0 0 80px
      column-gap: 80px

      .headline
        font-size: 36px

      .headLinkBox
        display: flex
        flex-direction: row
        bottom: -2px
        color: #2997ff
        .headerLinkIco

        .headerLinkText

    .videoBox
      display: flex
      flex-direction: row
      justify-content: center

      .video
        position: relative
        height: 100%    // 页面高度占满整个视口
        width: 100%     // 页面宽度占满整个视口
        padding: 0 30px
        margin: 0 30px




        .text2
          font-size: 14px
          position: absolute
          text-align: center
          bottom: 1rem
          left: 50%
          transform: translateX(-50%)
          font-weight: bold