.page
  height: 100% // 高度100%
  width: 100% // 宽度100%
  position: relative // 相对布局定位

  .buttonBox
    padding: 6px  // 内边距
    background: #DCDCDC  // 背景色

    .button
      display: inline-block  // 横排列
      background: #4CAF50 // 绿色背景
      padding: 6px 18px
      margin: 6px //外边距
      border-radius: 8px // 圆角

  .box

    background: #DCDCDC
    padding: 20px
    position: absolute // 绝对布局定位
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) //平移 -50% -50%
    min-width: 100px // 最小宽度

    .title
      font-size: 48px // 字体大小
      font-weight: bold // 粗体
      margin-bottom: 10px // 下边距

    .text
      margin-bottom: 6px
