// === 页脚包装容器样式 ===
.wrapper
  display: flex
  // 使用 Flex 布局
  padding: 16px
  // 内边距 16px
  background: #1d1d1f
  // 背景色深灰
  color: #f4f4f6
  // 字体颜色浅灰
  justify-content: center
  // 内容水平居中

// === 文字样式 ===
.text
  font-size: 13px
  // 字体大小 13px
  bottom: 1rem
  // 距离底部 1rem

// === 链接样式 ===
.a
  text-decoration: underline
  // 添加下划线
  text-underline-offset: -7px
  // 下划线偏移量（负值表示上移）