.wrapper
  display: flex
  padding: 16px        // 内边距 6px
  background: #1d1d1f // 背景色（深灰）
  color: #f4f4f6      // 字体颜色（浅灰）
  justify-content: center

.text
  font-size: 13px
  bottom: 1rem

.a
  text-decoration: underline
  text-underline-offset: -7px